* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
}

h1 {
  text-align: center;
  margin: 5vh;
  font-size: 60px;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  align-content: center;
  gap: 10px;
  margin-top: 10%;
}

.box {
  height: 100px;
  width: 100px;
  border: 4px solid cyan;
  border-radius: 10px;
}

.red {
  background-color: red;
}
.coral {
  background-color: coral;
}
.yellow {
  background-color: yellow;
}
.white {
  background-color: white;
}
.green {
  background-color: green;
}
.blue {
  background-color: blue;
}
