* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-image: url("./bgc.jpeg");
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center bottom;
}

.container {
  height: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.main-container {
  background-color: rgba(255, 255, 255, 0.13);
  padding: 20px;
  border-radius: 20px;
  width: 50%;
}
.main-container label {
  color: white;
}
.box {
  align-self: center;
  margin: 0.6rem;
  margin-left: 10px;
  border: 2px solid black;
  border-radius: 10px;
  padding: 10px;
  display: flex;
  align-items: center;
}

label:first-child {
  color: lime;
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}
label {
  color: white;
  font-size: 1.2rem;
}

input {
  appearance: none;
  width: 20px;
  height: 20px;
  border: 2px solid #ccc;
  border-radius: 50%;
  outline: none;
  cursor: pointer;
  text-align: left;

  margin-right: 10px;
  color: lime;
}
input[type="radio"]:checked {
  background-color: lime;
  border-color: lime;
}
.start {
  border: none;
  color: white;
  outline: none;
  padding: 0.8rem 0.8rem;
  background-color: red;
  font-weight: bold;
  margin: 10px;
  border-radius: 0.4rem;
}

.start:hover {
  background-color: lime;
  transition: all 1s;
}

.next-button {
  display: flex;
  justify-content: center;
}

/* Styling for The Correct and Wrong Answer */

.main-container h2 {
  color: red;
  margin: 10px;
}
.main-container .correct {
  color: lime;
  margin: 10px;
}
.main-container p:last-child {
  color: rgb(0, 187, 255);
  margin: 10px;
}

@media (max-width: 768px) {
  .main-container {
    width: 90%;
  }
}
@media (max-width: 408px) {
  label:first-child {
    font-size: 1rem;
  }
  label {
    font-size: 0.8rem;
  }
  .box {
    padding: 5px 10px;
    margin: 10px auto;
  }
}
