.center-bold {
  text-align: center;
  font-weight: bold;
  margin: 3vh auto;
}

.container1 {
  margin: 0 auto;
  width: 500px;
  height: fit-content;
  padding: 10px;
  border: 3px solid rgb(33, 120, 1);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.476);
  color: white;
}

#input {
  width: 90%;
  height: 30px;
  border-radius: 5px;
  border: 1px solid black;
  margin: auto;
  padding: 20px;
  border: none;
  outline: none;
  border-bottom: 3px solid black;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  font-size: 19px;
  font-weight: 400;
}

input[type="text"]:focus {
  border: none;
}

#add {
  margin: 2vh auto;
  width: 90%;
}

label {
  margin: 2vh auto;
  font-weight: bold;
  font-size: larger;
}

/* Styling of Js Inserted Code */
.inner > input[type="checkbox"] {
  height: 3vh;
  width: 3vh;
  margin: 1vh 2vh;
}

.todo {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 15px;
}

.Item {
  width: 500px;
  margin: 1vh auto;
  display: flex;
  justify-content: space-around;
  color: white;
  padding: 15px 0px;
  border-radius: 15px;
  align-items: center;
}
.inner {
  width: 70%;
  display: flex;
  align-items: center;
  font-size: larger;
}

.crossed {
  text-decoration-line: line-through;
  color: red;
  text-decoration-color: red;
}
.custom-icon:hover,
input[type="checkbox"] {
  cursor: pointer;
}

/* Responsive CSS */
@media screen and (max-width: 600px) {
  .container1 {
    width: 300px;
  }
  .Item {
    width: 300px;
  }
}
