*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    margin-top: 20px;
    background-color: yellow;
    height: 95vh;
    font-family: cursive;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    height: 100%;
}
.box{
    border: 3px dashed green;
    width: 300px;
    padding-bottom: 10px;
}
p{
    text-align: center;
    font-weight: bolder;
}
.box p:first-of-type{
    font-size: 30px;
    color: green;
}
i{
    font-size: 50px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    bottom: 26px;
}
@media (width <= 768px) {
    .container{
        flex-direction: column;
        align-items: center;
        gap: 30px;
    }
}
