* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  padding: 10px;
  width: 100vw;
  height: 90vh;
}
.center {
  text-align: center;
  color: red;
  font-size: 30px;
  margin-top: 2vh;
}

.container {
  margin: 3vh auto;
  width: 60%;
  height: 50vh;
  background-color: aliceblue;
  border-radius: 10px;
  min-width: 350px
}
.slider {
  height: 100%;
  width: 100%;
}
img {
  border-radius: 10px;
  height: 100%;
  width: 100%;
}

.btn {
  display: flex;
  justify-content: space-around;
  margin: 5vh auto;
  width: 100%;
}

button {
  background: red;
  font-size: large;
  font-weight: bold;
  border-radius: 5px;
  border: none;
  padding: 10px 25px;
}
button:hover {
  background: rgb(208, 4, 4);
  color: white;
}
@media only screen and (max-width: 400px) {
  .btn {
    flex-direction: column;
    gap: 12px;
  }
  button {
    display: block;
    width: 100%;
  }
}
 
