.container {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#counter {
  font-size: 50px;
}
.btn-container {
  display: flex;
  width: 50%;
  min-width: 300px;
  justify-content: space-around;
}

@media only screen and (max-width: 750px) {
  .btn-container {
    flex-direction: column;
    row-gap: 20px;
  }
}
button {
  border: none;
  padding: 9px 13px;
  font-weight: bold;
}

.btn1 {
  background-color: red;
  font-size: large;
  border-radius: 10px;
  cursor: pointer;
  color: aliceblue;
}
.btn1:hover {
  background-color: rgb(195, 24, 24);
}
.btn2 {
  background-color: rgb(17, 205, 83);
  font-size: large;
  border-radius: 10px;
  color: white;
}
.btn2:hover {
  background-color: green;
}
.btn3 {
  background-color: rgb(65, 67, 211);
  font-size: large;
  border-radius: 10px;
  color: white;
}
.btn3:hover {
  background-color: rgb(19, 23, 239);
}
