* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: linear-gradient(45deg, rgb(245, 26, 230), blue);
  font-family: "Poppins", sans-serif;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.container {
  overflow:hidden;
  width: fit-content;
  margin: auto;
  background-color: lime;
  width: calc(250px *4 + 20px*4);
}

.wrapper {
  display: flex;
  justify-content: start;
  align-items: center;
  overflow: hidden;

  @media only screen and (max-width: 300px) {
    
    .wrapper {
      max-width: 300px;
    }
  }
}
.common {
  min-width: 250px;
  height: 250px;
  text-align: center;
  background-color: white;
  padding: 3vh 0px;
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 10px;
}
.common:hover {
  box-shadow: 5px 5px 10px lime;
}

.logo {
  border-radius: 50%;
  border: 3px solid lime;
  width: 90px;
  height: 90px;
}
.custom-icon {
  padding: 10px 15px;
}

p:last-child {
  color: lime;
  font-weight: bold;
  font-style: normal;
}

p {
  color: rgb(0, 106, 255);
  font-style: italic;
  font-weight: 700;
}

/*  Buttons Styling*/
.btn-container {
  width: 90%;
  display: flex;
  justify-content: center;
  gap: 30px;
  margin: 15px;
}

button {
  background-color: red;
  border: none;
  padding: 8px 10px;
  color: white;
  font-weight: bold;
}
button:hover {
  background-color: rgb(225, 37, 37);
}

#next-btn,
#prev-btn {
  border-radius: 10px;
}
